body {
    font-family: "Times New Roman", Times, serif;
    font-size: 13pt;
    margin: 20px;
}

.navbar {
    background-color: #008000;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar > li {
    position: relative;
}

.navbar > li > a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    white-space: nowrap;
}

.navbar > li:hover > a {
    background-color: #FF0000;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.navbar > li:hover .dropdown-content {
    display: block;
}

.menu-table {
    border-collapse: collapse;
    min-width: 250px;
    text-align: left;
}

.menu-table td {
    background-color: #0000FF;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    cursor: pointer;
    white-space: nowrap;
}

.menu-table td:hover {
    background-color: #006400;
}

.table-large {
    min-width: 600px;
    text-align: center;
}

.menu-table th {
    color: red;
    background-color: #f2f2f2;
    padding: 8px;
    border: 1px solid #ccc;
}